page-meal-details {
    a {
        padding-left: 15px;
    }

    hr {
        margin: 4px 15px 4px 15px;
    }

    #resume_card ion-card-header {
        padding-top: 8px;
        padding-bottom: 4px;
    }
}
